<div>
    <!-- <input type="button" value="load the data"
    (click)="loadEmployeeDetails()"/> -->
    <form [formGroup]="employeeRef" (ngSubmit)="storeData()">
        <label>Id</label>
        <input type="number" formControlName="id"/><br/>
        <label>Name</label>
        <input type="text" formControlName="name"/><br/>
        <label>AGe</label>
        <input type="number" formControlName="age"/><br/>
        <input type="submit" value="submit"/>
        <input type="reset" value="reset"/>
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
        </tr>
    </table>
</div>